

<div class="page" data-page="one">
 
            <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
            <div class="toolbar">
              <div class="toolbar-inner">
                <!-- Toolbar links -->
                <a href="#" class="link open-panel" data-panel="left"><i class="ion-navicon" style="font-size: 30px; margin-right: 10px;"></i> Modules</a>
                <a href="#" class="link back"> <i class="ion-ios-arrow-back" style="font-size: 30px; margin-right: 10px;"></i> Back</a>
              </div>
            </div>

            <div class="page-content">
            <div class="content-block">

<div class="content-block-title">Introduction:</div>


<p>Chemoreceptor’s are nerves ending that are sensitive to chemical substances. Almost all animals with well developed nervous system possess these chemoreceptor. These receptors are not of the same type.</p>
<p>They react to different chemical substances differently. These chemoreceptors are found in the antenna of arthropods and mouth and nasal passages of vertebrates. Chemoreceptors are involved in the sense of taste and smell.</p> 
<p>Chemoreceptors are associated with taste and their positions on the tongue need to be determined.</p>

<div class="content-block-title">Materials and equipment (for pair students)</div>
<p>Watch glass</p>
<p>Salt solution 10% (5mls) (salt)</p>
<p>Sucrose solution 5% (5mls) (sweet)</p>
<p>Acetic acid solution 1%(5mls) (sour)</p>
<p>Quinesulphate 0.1% (5mls) (bitter)</p>
<p>Water jar</p>
<p>Applicator – tooth picks with cotton wool wrapped on the tip  or (cotton beds)</p>
<p>Beaker filled with water (2)</p>

<div class="content-block-title">Procedure:</div>
<p>The students should be in pairs</p>
<p>Each member of the pair should be designated (as A or B).</p>
<p><strong>A:</strong> pour 2mls of salt solution into the watch glass.</p>
<p><strong>B:</strong> copy the diagram below into the note book and label it.</p>
<p><strong>A:</strong> Dip applicator into the salt solution. Drain off the excess solution from the applicator. Touch the applicator on the tongue of B at the point marked 1.</p>
<p><strong>B:</strong> place a minus sig(-) at point 1 if you sense no taste of salt if you sense a mild taste at this point put a plus (+) and double plus (++), if you sense a strong taste of salt.</p>
<p><strong>A:</strong> As soon as student B has finished recording his/her sensation, touch the applicator on his/her at point 2.</p>
<p><strong>B:</strong> Record your sensation, using the appropriate symbol as for point, continue this process until sensations on the other points of the tongue are recorded.</p>
<p>Use the same process to taste the sensation of the other solutions. In each case use different applicators and watch glasses, and alternate the students.</p>
<p>Tongue used i.e.</p>
<p>The tongue of B is used for salt solution; the tongue of A should be used for glucose solution, B For acetic acid and A for Quinine sulphate solution. Label drawn tongue for sucrose as sweet that for acetic and sour and the one of Quinine sulphate as bitter.</p>

<div class="content-block-title">Result:</div>
             <p>Pull together the whole class as in the table below.</p>
<table style="width: 100%;">
<tr>
<th style="width: 60%; border: 1px solid #ccc;">Position of Tongue</th>
<th style="width: 10%; border: 1px solid #ccc;">-</th>
<th style="width: 10%; border: 1px solid #ccc;">+</th>
<th style="width: 20%; border: 1px solid #ccc;">++</th>
</tr>
<tr>
<td style="border: 1px solid #ccc;">1</td>
<td style="border: 1px solid #ccc;">&nbsp;</td>
<td style="border: 1px solid #ccc;">&nbsp;</td>
<td style="border: 1px solid #ccc;">&nbsp;</td>
</tr>
<tr>
<td style="border: 1px solid #ccc;">2</td>
<td style="border: 1px solid #ccc;">&nbsp;</td>
<td style="border: 1px solid #ccc;">&nbsp;</td>
<td style="border: 1px solid #ccc;">&nbsp;</td>
</tr>
<tr>
<td style="border: 1px solid #ccc;">3</td>
<td style="border: 1px solid #ccc;">&nbsp;</td>
<td style="border: 1px solid #ccc;">&nbsp;</td>
<td style="border: 1px solid #ccc;">&nbsp;</td>
</tr>
<tr>
<td style="border: 1px solid #ccc;">4</td>
<td style="border: 1px solid #ccc;">&nbsp;</td>
<td style="border: 1px solid #ccc;">&nbsp;</td>
<td style="border: 1px solid #ccc;">&nbsp;</td>
</tr>
<tr>
<td style="border: 1px solid #ccc;">5</td>
<td style="border: 1px solid #ccc;">&nbsp;</td>
<td style="border: 1px solid #ccc;">&nbsp;</td>
<td style="border: 1px solid #ccc;">&nbsp;</td>
</tr>
</table>
         
Table: the result of taste sense sensation on the tongue.
<p>Draw three similar tables on your notebook for result of sweet, sour, salt and bitter tastes.</p>


    </div>
     
            </div>
 
</div>