

<div class="page" data-page="one">
 
            <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
            <div class="toolbar">
              <div class="toolbar-inner">
                <!-- Toolbar links -->
                <a href="#" class="link open-panel" data-panel="left"><i class="ion-navicon" style="font-size: 30px; margin-right: 10px;"></i> Modules</a>
                <a href="#" class="link back"> <i class="ion-ios-arrow-back" style="font-size: 30px; margin-right: 10px;"></i> Back</a>
              </div>
            </div>

            <div class="page-content">
            <div class="content-block">

<div class="content-block-title">Introduction:</div>

<p>An eye is a spherical organ with eyeball, eyes are used for sight. They contain photoreceptors which are nerves endings that transmit light to the brain for interpretation of the image from the object for the determination blind spot on eye and optical illusions. The materials below are required for the experiment.</p>

<div class="content-block-title">Material:</div>
<p>Book/plain paper containing cross and circle.</p>
<div class="content-block-title">Procedure:</div>
 <p>Step I: Get a plain paper and draw a small circle on the left side, draw a small cross on the right side. Make sure they are separated by about 6-8 inches distance.</p>
<p>Step II: Hold the paper at arms length in front of your face so that you can see the cross and the circle</p>
<p>Step III: Close your left eye and keep your right eye fixed on the cross. </p>
<p>Step IV: Move the book slowly towards you. </p>
<div class="content-block-title">Observation:</div> <p>The circle disappears when the paper is at a certain distance from the eye.</p>
<p>Repeat the procedure. This time, close the right eye and observe the circle with the left eye.</p>
<div class="content-block-title">Inference:</div> <p>There is a spot on the retina where images formed cannot be seen.</p>
<div class="content-block-title">Determination of Optical Illusion</div>
<p>Although images are formed on the retina of the eyes, it is the brain that interprets and tells us what we see. The information gathered by the eye is processed in the brain to give a perception that does not tally with the physical measurement of the source of stimulus. Sometimes the brain distorts what we see, such distortions are known as optical illusions. Therefore an optical illusion (also called visual illusion) is characterized by visually perceived images that differ from objective reality.</p>
<div class="content-block-title">Material:</div> <p>a pencil, white cardboard paper, colour pencils, scissor and cellotape.</p>
<div class="content-block-title">Procedure:</div>
<p>Step I: Cut two pieces of a 2 by 2 inches of white cardboard</p>
<p>Step II: Draw two small fishes on the first cardboard paper and colour it. Draw a pot of water showing the water level on the second cardboard</p>
<p>Step III: Hold the two cardboard papers together by each side using a cellotape. Make sure that the diagrams are facing outside.</p>
<p>Step IV: Hang the cardboard paper on a pencil by passing the pencil between the cardboard and start rolling to and fro.</p>
<div class="content-block-title">Observation:</div> <p>It will get to a stage where you perceive, as if the fishes are right inside the pot.</p>
<div class="content-block-title">Inference:</div> <p>An illusion has occurred.</p> 


    </div>
     
            </div>
 
</div>