

<div class="page" data-page="one">
 
            <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
            <div class="toolbar">
              <div class="toolbar-inner">
                <!-- Toolbar links -->
                <a href="#" class="link open-panel" data-panel="left"><i class="ion-navicon" style="font-size: 30px; margin-right: 10px;"></i> Modules</a>
                <a href="#" class="link back"> <i class="ion-ios-arrow-back" style="font-size: 30px; margin-right: 10px;"></i> Back</a>
              </div>
            </div>

            <div class="page-content">

            <div class="content-block-title">Lesson Eight: General introduction</div>
            <div class="content-block">

<div class="content-block-title">Behavioural Objectives:</div>

At the end of this lesson, students should be able to:
<p>a.  Determine the various taste sites on the tongue and locate chemoreceptor in man.</p>
<p>b.  Determine the blind spot on eye and optical illusions.</p>

</div>
               <div class="list-block media-list">
  <ul>

 
    <li><a href="pages/module_two/unit_two/lesson_eight_a.html" class="item-link item-content close-panel">
    <div class="item-media"><i class="ion-ios-flask" style="font-size: 30px;"></i></div>
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">Lesson Eight A</div>
                        </div>
                        <div class="item-text">Determination of various taste sites and location of chemoreceptors in man</div>
                      </div></a></li>

                       <li><a href="pages/module_two/unit_two/lesson_eight_b.html" class="item-link item-content close-panel">
                       <div class="item-media"><i class="ion-ios-flask" style="font-size: 30px;"></i></div>
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">Lesson Eight B</div>
                        </div>
                        <div class="item-text">Determination of blind spot on eye and optical illusions</div>
                      </div></a></li>



    
  </ul>
</div>
            </div>
 
</div>