

<div class="page" data-page="one">
 
            <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
            <div class="toolbar">
              <div class="toolbar-inner">
                <!-- Toolbar links -->
                <a href="#" class="link open-panel" data-panel="left"><i class="ion-navicon" style="font-size: 30px; margin-right: 10px;"></i> Modules</a>
                <a href="#" class="link back"> <i class="ion-ios-arrow-back" style="font-size: 30px; margin-right: 10px;"></i> Back</a>
              </div>
            </div>

            <div class="page-content">
            <div class="content-block-title">Unit One: Dissection of A Mammal</div>
               <div class="list-block media-list">
  <ul>

 

                      <li><a href="pages/module_three/unit_one/lesson_nine.html" class="item-link item-content close-panel">
                       <div class="item-media"><i class="ion-ios-book" style="font-size: 30px;"></i></div>
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">Lesson Night</div>
                        </div>
                        <div class="item-text">General Introduction</div>
                      </div></a></li>

                      <li><a href="pages/module_three/unit_one/lesson_ten.html" class="item-link item-content close-panel">
                       <div class="item-media"><i class="ion-ios-flask" style="font-size: 30px;"></i></div>
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">Lesson Ten</div>
                        </div>
                        <div class="item-text">Display of the alimentary canal (digestive system)</div>
                      </div></a></li>

                      <li><a href="pages/module_three/unit_one/lesson_eleven.html" class="item-link item-content close-panel">
                       <div class="item-media"><i class="ion-ios-flask" style="font-size: 30px;"></i></div>
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">Lesson Eleven</div>
                        </div>
                        <div class="item-text">Display of respiratory system</div>
                      </div></a></li>



    
  </ul>
</div>
            </div>
 
</div>