

<div class="page" data-page="one">
 
            <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
            <div class="toolbar">
              <div class="toolbar-inner">
                <!-- Toolbar links -->
                <a href="#" class="link open-panel" data-panel="left"><i class="ion-navicon" style="font-size: 30px; margin-right: 10px;"></i> Modules</a>
                <a href="#" class="link back"> <i class="ion-ios-arrow-back" style="font-size: 30px; margin-right: 10px;"></i> Back</a>
              </div>
            </div>

            <div class="page-content">
            <div class="content-block-title">Unit One: Measurement of heart beat and effect of exercise and heart beat</div>
               <div class="list-block media-list">
  <ul>

 

                      <li><a href="pages/module_two/unit_one/lesson_seven.html" class="item-link item-content close-panel">
                       <div class="item-media"><i class="ion-ios-flask" style="font-size: 30px;"></i></div>
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">Lesson Seven</div>
                        </div>
                        <div class="item-text">Experiment to determine the heart rate and beating rate</div>
                      </div></a></li>



    
  </ul>
</div>
            </div>
 
</div>