

<div class="page" data-page="one">
 
            <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
            <div class="toolbar">
              <div class="toolbar-inner">
                <!-- Toolbar links -->
                <a href="#" class="link open-panel" data-panel="left"><i class="ion-navicon" style="font-size: 30px; margin-right: 10px;"></i> Modules</a>
                <a href="#" class="link back"> <i class="ion-ios-arrow-back" style="font-size: 30px; margin-right: 10px;"></i> Back</a>
              </div>
            </div>

            <div class="page-content">
            <div class="content-block">

<div class="content-block-title">Introduction:</div>

<p>During blood circulation, the heart pumps blood round the body. The rate at which the heart beats is referred to as the heart rate or pulse. Blood supplies the body nutrients, oxygen and other necessary materials for proper functioning the body.</p>
<p>In the same way the breathing rate is the number of times per minutes the diaphragm moves up and down. By breathing, the body through the blood is supplied with oxygen for respiration and CO2 is removed.</p>
<p>Thus determination of the heart rate and breathing rate is vital. Equally the effect of dynamic exercise on both the heart and breathing rates are also considered.</p>
<div class="content-block-title">Materials:</div>
<p>Stethoscope (1 per group)</p>
<p>Stop watch</p>
<p>Wrist watch</p>
<div class="content-block-title">Procedure:</div>
<p>1.  Put the head of the stethoscope between the forth and the fifth inter-coastal muscles at the left-hand side, note and listen to how the heart beats. At convenient time start the stop watch and count the number of beats per minutes and record it.</p>
<p>2.  Heart beat: (work in group of five or six). Two members A and B will act as the specimens. Specimen A will sit relaxed, his left hand rested on the table with palm up. Three other members of the group in turns will read the heart of specimen A using this method, put the three middle fingers of your right hand on the wrist of specimen A to feel the vein, feel the pulsation. At a convenient time, start the stop watch and count the number of the pulsation in a minute.Find the average of the three members. This should represent the heart rate for specimen A, repeat the same for specimen B. Collect all the heart beats for the females and male separately. Find the mean and deviation. Check the normal heart beats for both male and female.</p>
<p>3. Breathing rates retain your groups and specimens A and B, observe the breathing of specimen A and B, this can be done by placing your hand on the sides of the chest and observe the up and down movements of the thoracic cage. At the convenient time switch on the stop watch and count the number of movement up and down in a minute.Put together the breathing rates of all the members of specimen A and of specimen B separately and find the mean and standard deviations.</p>
<p>4. Heat and breathing rates and exercise: - retain your grouping to carryout this section of the lab work. Specimen A should run about 200 meters and his/her heart rate taken quickly by only a members of the group. Treat the class data as in above.
Specimen A also should also run about 200 meters, and the breathing rate taken quickly by a member of the group. Treat the class data as in 3 above.</p>

    </div>
     
            </div>
 
</div>