

<div class="page" data-page="one">
 
            <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
            <div class="toolbar">
              <div class="toolbar-inner">
                <!-- Toolbar links -->
                <a href="#" class="link open-panel" data-panel="left"><i class="ion-navicon" style="font-size: 30px; margin-right: 10px;"></i> Modules</a>
                <a href="#" class="link back"> <i class="ion-ios-arrow-back" style="font-size: 30px; margin-right: 10px;"></i> Back</a>
              </div>
            </div>

            <div class="page-content">
            <div class="content-block-title"><center>Lesson Four: General Introduction</center></div>
  
    <div class="content-block tablet-inset">
      <div class="content-block-inner">
        <p>The stomata allow the evaporation of water as well as permit the escape of C02 from plant, a phenomenon known as transpiration.</p> 
<p>Transpiration is by no means restricted to the leaves for there are generally a number of stomata in the stem epidermis as well. However, the leaves with their large surface area and abundant stomata represent the main source of water loss.</p>
<p>Evaporation also takes place through the cuticle of the epidermal cells (cuticular transpiration), but this rarely exceeds 5% of the total water loss.

</p>

      </div>
    </div>
    <div class="content-block">
    <div class="content-block-title">Behavioural Objectives</div>
At  the end of this lesson, students should be able to:
<p>1.  Show evidence of transpiration in plants</p>
<p>2.  Compare the rate of transpiration of leaf surfaces</p>
<p>3.  List factors affecting the rate of transpiration in plants</p>

<div class="content-block-title">Materials/Equipment</div>
(2) Bell jars <br>
(2) Large glass sheets <br>
(2) 250cm2 beakers <br>
(2) Fresh leafy shoots <br>
Water<br>
Oil/Vaseline<br>
Cobalt chloride paper<br>
Leaf attached to plant<br>
A fresh herbaceous plant (balsam)<br>
Marker <br>
Plastic bag<br>
Weighing apparatus<br>
Room<br>
Photometer and cellotape<br>
</div>
            </div>
 
</div>