

<div class="page" data-page="one">
 
            <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
            <div class="toolbar">
              <div class="toolbar-inner">
                <!-- Toolbar links -->
                <a href="#" class="link open-panel" data-panel="left"><i class="ion-navicon" style="font-size: 30px; margin-right: 10px;"></i> Modules</a>
                <a href="#" class="link back"> <i class="ion-ios-arrow-back" style="font-size: 30px; margin-right: 10px;"></i> Back</a>
              </div>
            </div>

            <div class="page-content">
            <div class="content-block-title"><center>Lesson Six: The photometer</center></div>
  
    <div class="content-block">

        <div class="content-block-title">Behavioural Objective: </div>
At the end of this lesson, the students are expected to be able to
        
<p>Describe a potometer</p>
<p>Demonstrate the use of potometer</p>
<p>List the functions of potometer</p>

<div class="content-block-title">Functions</div>
<p>The potometer is appropriate equipment commonly used to measure the rate of water uptake of a transpiring plant.</p>
<p>It may also be used to compare the rate of transpiration of different plants under the same or different rate in all the plants.</p>

<div class="content-block-title">Description and demonstration of a potometer</div>
<p>The potometer consists of a wide-mouthed bottle fitted with a stopper, bearing three holes. A dropping funnel with a tap is passed through one hole. The stem of a freshly-out shoot is passed through the second hole.</p>
<p>The stem should be cut under water so that no air bubbles enter the xylem cells. A long bent glass capillary tube is passed through the third hole. A suitable graduated scale is attached to the horizontal arm of the capillary tube by means of rubber bands.</p>
<p>The bottle is filled with water and stopper carrying the glass tube, the funnel and the shoot are placed firmly into the mouth of the bottle.</p>
<p>The dropping funnel is also completely filled with water. The tap is then opened to allow water to flow down the length of the funnel so as to fill the bent capillary, and while this is being done, an air bubble is trapped near the free end of the tube. The top of the dropping funnel is then closed.</p>
<p>While transpiration is taking place through the leaves of the shoot, water is absorbed from the bottle by the stem. As the volume of water in the bottle decreases, the water column in the capillary tube is down into the bottle and the air bubble is seen to move towards the bottle.</p>
<p>By looking at the graduated scale, it is possible to read the distance the air bubble has moved. This is directly proportional to the amount of water lost by the capillary tube as a result of the water taken up by the shoot.</p>
<p>If a graduated dropping funnel is used, it would be possible to measure the amount of water absorbed by the shoot. This could be done by refilling the capillary tube with water from the dropping funnel, and reading of the amount of water required for this.</p>
<p>If the experiment is carried out over a fixed period of time, the rate of transpiration (water uptake) can be calculated. </p>
<p>Volume = πr2h<br>
i.  Where r is the radius of the bulb<br>
ii. h is the distance<br>
iii.  v is the volume<br>
π = 3.142 or (22/7)
</p>


    </div>
    
            </div>
 
</div>