

<div class="page" data-page="one">
 
            <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
            <div class="toolbar">
              <div class="toolbar-inner">
                <!-- Toolbar links -->
                <a href="#" class="link open-panel" data-panel="left"><i class="ion-navicon" style="font-size: 30px; margin-right: 10px;"></i> Modules</a>
                <a href="#" class="link back"> <i class="ion-ios-arrow-back" style="font-size: 30px; margin-right: 10px;"></i> Back</a>
              </div>
            </div>

            <div class="page-content">
            <div class="content-block">

<div class="content-block-title">Procedure:</div>
<p>Step 1: Dry and place two equal pieces of cobalt chloride paper, on one is placed on the upper surface and the other on the lower surface of the leaf attached to a parent plant.</p>
<p>Step 2: Hold the cobalt chloride paper on leaf firmly in place by pieces of cello tape.</p>

<div class="content-block-title">Observation:</div>
<p>1. After a few minutes the cobalt chloride paper shows a change in colour from blue to pink (dry cobalt chloride paper changes in colour from blue to pink in the presence of water).</p>
<p>2. The time taken for the cobalt chloride paper on the upper surface of the leaf to turn from blue to pink is much longer than that for the lower surface. Hence, the rate of the transpiration from the lower surface of a leaf is much greater than that from the upper surface.</p>

<div class="content-block-title">Inference:</div> 
<p>Plants transpire especially through the stomata of leaves. The transpiration rate of the lower surface of a leaf is much greater than that from the upper surface. </p>
    </div>
     
            </div>
 
</div>