

<div class="page" data-page="one">
 
            <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
            <div class="toolbar">
              <div class="toolbar-inner">
                <!-- Toolbar links -->
                <a href="#" class="link open-panel" data-panel="left"><i class="ion-navicon" style="font-size: 30px; margin-right: 10px;"></i> Modules</a>
                <a href="#" class="link back"> <i class="ion-ios-arrow-back" style="font-size: 30px; margin-right: 10px;"></i> Back</a>
              </div>
            </div>

            <div class="page-content">
            <div class="content-block">

<div class="content-block-title">Procedure:</div>
<p>Step 1: Remove all leaves of one leafy shoot and leave the other shoot with leaves. </p>
<p>Step 2: This shoot as well as a second one, are then placed separately in two beakers containing some water.</p>
<p>Step 3: Cover the surface of the water in each beaker with a thin film of oil to prevent evaporation.</p>
<p>Step 4: Place each beaker in a glass sheet and covered with a bell jar. </p>
<p>Step 5: Smear the lower edge of each bell jar with vaseline to ensure that no air can enter. </p>
<p>Step 6: Place each jars each at the right and corner of the room to stand for few hours.</p>

<p><strong>Observation:</strong> At the end of this experiment, it will be observed that water has condensed on the inner surface of the bell jar containing the fresh, leafy shoot. On the other hand, no water has condensed in the bell jar containing the leafless shoot.</p>
<p><strong>Inference:</strong> Transpiration was found to have occurred in the setup with leafy shoot.  </p>
    </div>
     
            </div>
 
</div>