

<div class="page" data-page="one">
 
            <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
            <div class="toolbar">
              <div class="toolbar-inner">
                <!-- Toolbar links -->
                <a href="#" class="link open-panel" data-panel="left"><i class="ion-navicon" style="font-size: 30px; margin-right: 10px;"></i> Modules</a>
                <a href="#" class="link back"> <i class="ion-ios-arrow-back" style="font-size: 30px; margin-right: 10px;"></i> Back</a>
              </div>
            </div>

            <div class="page-content">
            <div class="content-block">

<div class="content-block-title">The Respiratory System</div>
<p>1.   Take note that most of the respirator organs of the respiratory are found in the thoracic region and neck. Also that any bleeding from the finer vessels which are inevitably cut must be mopped up with a soft rag or cotton wool. If this is not done, the tissues become uniformly stained and the possibility of being able to identify some structures become difficult. Therefore follow this procedure.</p>
<p>2.  After dissection remove the alimentary canal completely. </p>
<p>3.  While holding the xiphoid cartilage well up, insert the pointed end of a scissors through the side wall of the thorax and make a small slit. At once the diaphragm will spring way from the lung on the cut side. Then repeat for the other pleural cavity.</p>
<p>4.  Grip the xiphiod cartilage with forcepts insert the scissors through the posterior part of the thoracic wall.</p>
<p>5.  Tie a thread around the xiphiod cartilage and attach the other end of the thread to a pin so that the diaphragm is pulled back.</p>
<p>6.  Cut through the side wall of the throrax, continue with the cut to apex of the thorax turning the ventral point of the wall aside and pulling it slightly so that there is less danger of cutting the heart, clean away loose parts of the pleura.</p>
<p>7.  Cut through the anterior ribs to remove the sternum completely.</p>
<p>8.  Clear away the fat around the bronchi. Also cut the oesophagus close to the diaphragm, identify the following organs of the respiratory system. Epiglottis, glottis, cricoids cartilage, trachea, right bronchus, left brochus, right and left lungs.</p>

    </div>
     
            </div>
 
</div>