

<div class="page" data-page="one">
 
            <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
            <div class="toolbar">
              <div class="toolbar-inner">
                <!-- Toolbar links -->
                <a href="#" class="link open-panel" data-panel="left"><i class="ion-navicon" style="font-size: 30px; margin-right: 10px;"></i> Modules</a>
                <a href="#" class="link back"> <i class="ion-ios-arrow-back" style="font-size: 30px; margin-right: 10px;"></i> Back</a>
              </div>
            </div>

            <div class="page-content">
            <div class="content-block">

<div class="content-block-title">The Female System</div>
<p>1.   After dissection, remove the ovary wall from the body cavity.</p>
<p>2.  Remove the digestive system by cutting the oesophagus as high as possible and cut through the rectum. Remove the gut by gently pulling it away from the mesentery.</p>
<p>3.  With the blade or a scalpel or scissors, separate the two halves of the pelvic girdle at the grove of the ischemia.</p>
<p>4.  Grip the clitoris and pull it gently so that the urethra is held away from the pelvis. Remove the ventral part of the girdle.</p>
<p>5.  To expose the top the oviducts cut through the pectoral girdle, pin or remove the heart and left lobe of the liver.</p>
<p>6.  Lift the oviducts and remove the mesovarum from them sufficiently to expose the urethra.</p>
<p>7.  Identify the following parts, kidney, urethra, bladder, ureter, ovary, uterus, mesavarium of the oviduct, vagina and clitoris.</p>
<p>8.  Take note that there some differences for a pregnant female as such the following will also be seen: Foetus and placenta.</p>

    </div>
     
            </div>
 
</div>