

<div class="page" data-page="one">
 
            <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
            <div class="toolbar">
              <div class="toolbar-inner">
                <!-- Toolbar links -->
                <a href="#" class="link open-panel" data-panel="left"><i class="ion-navicon" style="font-size: 30px; margin-right: 10px;"></i> Modules</a>
                <a href="#" class="link back"> <i class="ion-ios-arrow-back" style="font-size: 30px; margin-right: 10px;"></i> Back</a>
              </div>
            </div>

            <div class="page-content">
            <div class="content-block">

<div class="content-block-title">Display of the alimentary canal (digestive system)</div>
<p>1.   After dissection, lift the abdominal wall with forcepts and an incision along the mid-ventral line. The muscles of the abdominal wall that are attached to the xipheis sternum should be lifted clear of the xiphoid cartilage.</p>
<p>2.  Pin aside the abdominal wall. Identify the following organs:</p>
Mouth<br>
Oesophagus<br>
Gall bladder<br>
Colon<br>
Liver<br>
Duodenum<br>
Ileum
<p>3.  Carefully remove the memsenteries that hold organs unto the body of the animal, display each organ as much as possible, and move the bulk of the intestine to one side.</p>
<p>4.  Take note that small and large intestines are twisted over one another. Turn the bulk of the intestine over to undo the twist.</p> 
<p>5.  Draw the system after displaying the organ and label the organs.</p>


    </div>
     
            </div>
 
</div>