

<div class="page" data-page="one">
 
            <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
            <div class="toolbar">
              <div class="toolbar-inner">
                <!-- Toolbar links -->
                <a href="#" class="link open-panel" data-panel="left"><i class="ion-navicon" style="font-size: 30px; margin-right: 10px;"></i> Modules</a>
                <a href="#" class="link back"> <i class="ion-ios-arrow-back" style="font-size: 30px; margin-right: 10px;"></i> Back</a>
              </div>
            </div>

            <div class="page-content">
            <div class="content-block-title">Lesson Ten: Display of Alimentary</div>
               <div class="list-block media-list">
  <ul>

 

                      <li><a href="pages/module_three/unit_one/lesson_ten_a.html" class="item-link item-content close-panel">
                       <div class="item-media"><i class="ion-ios-flask" style="font-size: 30px;"></i></div>
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">Laboratory work A</div>
                        </div>
                        <div class="item-text">Display of the alimentary canal (digestive system)</div>
                      </div></a></li>

<div class="content-block">
<div class="content-block-title" style="margin-left: 0;">The Urinogenital system</div>
<p>
Since there are slight differences between the male and female urinogenital system, it is advisable that each be studied separately. Take note that in order to study the urinogenital systems (excretory and reproductive systems) the abdominal cavity of both male and female animals must be dissected.
</p>
</div>
                      <li><a href="pages/module_three/unit_one/lesson_ten_b1.html" class="item-link item-content close-panel">
                       <div class="item-media"><i class="ion-ios-flask" style="font-size: 30px;"></i></div>
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">Laboratory work B (I)</div>
                        </div>
                        <div class="item-text">Display of Male Excretory system</div>
                      </div></a></li>

                      <li><a href="pages/module_three/unit_one/lesson_ten_b2.html" class="item-link item-content close-panel">
                       <div class="item-media"><i class="ion-ios-flask" style="font-size: 30px;"></i></div>
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">Laboratory work B (II)</div>
                        </div>
                        <div class="item-text">Display of Female Excretory system</div>
                      </div></a></li>



    
  </ul>
</div>
            </div>
 
</div>