

<div class="page" data-page="one">
 
            <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
            <div class="toolbar">
              <div class="toolbar-inner">
                <!-- Toolbar links -->
                <a href="#" class="link open-panel" data-panel="left"><i class="ion-navicon" style="font-size: 30px; margin-right: 10px;"></i> Modules</a>
                <a href="#" class="link back"> <i class="ion-ios-arrow-back" style="font-size: 30px; margin-right: 10px;"></i> Back</a>
              </div>
            </div>

            <div class="page-content">
            <div class="content-block">

<div class="content-block-title">Introduction:</div>
<p>For the purpose of conducting practical on the anatomy of the vertebrate, usually small mammals are used. For schools located in the rural areas, rats can be used, those in urban areas guinea pig or rabbits which ever is available.</p>
<p>When rats or guinea-pigs are used, (because their tissues are delicate) the dissection has to be done under water to wash away the blood and to minimize the adhesion of the parts.</p>
<p>Using dissecting pins, for nailing the parts to the bound is not appropriate; hence ordinary pins or office pins are to be used. When these pins are used, it involves placing the pins against the organs and not through the organs. </p>

<div class="content-block-title">The purpose of dissection</div>
<p>i.  To enable the students dissect a small mammal successfully</p>
<p>ii. To obtain a familiarization with the different systems of the mammal</p>
<p>iii.    To identify the various organs/parts of the mammal dissected</p>
<p>iv. To draw and label all the parts identified successfully</p> 

<div class="content-block-title">Materials and Equipment</div>
Dissecting Kits<br>
Dissecting board<br>
Dissecting pins<br>
Specimen to be used (i.e. rabbit, rat, or guinea pigs)<br>
Hand lens<br>
Chloroform for killing the animal or any other anaesthesia


<div class="content-block-title">Procedures and Dissection</div>
<p>1.  When rabbit is used the fur (hair) should be removed on the ventral side.</p>
<p>2.  Lay the rabbit on its back with ventral side on a dissecting board and spread it in spread-angle position by using strong dissecting pins other strong pins, like searching pins through the fore-limbs and hind feet of the mammals.</p>
<p>3.  Lift the skin in the mid-ventral line and cut along the middle-line of the skin from belly up to neck and also down to the end of the pelvis. This must be done carefully so as not puncture the body wall beneath the skin.</p>
<p>4.  Completely loose the skin away from the body wall with the fingers, gently tear away the connective tissues which hold the skin back and pin unto the dissecting board.</p>
<p>5.  Continue the cut forward to the level of the lower lip and backward around the penis and between the scrotal sacs in male. If it is a female continue the cut backward as far as the anus passing on either side of the urinary and genital apertures.</p>
<p>6.  To open the abdomen, cut away the tail at its base. Open the abdomen by cutting through the body wall along the middle line from the pelvis to the breast bone. Continue the cut around the line of the last rib on each side, pin back the abdominal wall.</p>


    </div>
     
            </div>
 
</div>