

<div class="page" data-page="one">
 
            <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
            <div class="toolbar">
              <div class="toolbar-inner">
                <!-- Toolbar links -->
                <a href="#" class="link open-panel" data-panel="left"><i class="ion-navicon" style="font-size: 30px; margin-right: 10px;"></i> Modules</a>
                <a href="#" class="link back"> <i class="ion-ios-arrow-back" style="font-size: 30px; margin-right: 10px;"></i> Back</a>
              </div>
            </div>

            <div class="page-content">
            <div class="content-block">

<div class="content-block-title">The Male System</div>
<p>1.   After cutting the animals open, remove completely the organs of the alimentary canal before dissecting the urinogenital system.</p>
<p>2.  Open the secrotal sac and display the contents.</p>
<p>3.  Cut through the pelvis girdle, lay, away (aside) the bladder. </p>
<p>4.  Lay the seminal vesicles, coagulating glands and prostate glands over to the same side.</p>
<p>5.  With a needle or fine forceps, carefully loosen the structures from one another and display. Bladder and penis for (excretory system); testis, caudal, epididymis, vas deferens, spermatic cord and prostate glands (genital system).</p>

    </div>
     
            </div>
 
</div>