

<div class="page" data-page="one">
<!-- Top Navbar. In Material theme it should be inside of the page-->
           
 
            <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
            <div class="toolbar">
              <div class="toolbar-inner">
                <!-- Toolbar links -->
                <a href="#" class="link open-panel" data-panel="left"><i class="ion-navicon" style="font-size: 30px; margin-right: 10px;"></i> Modules</a>
                <a href="#" class="link back"> <i class="ion-ios-arrow-back" style="font-size: 30px; margin-right: 10px;"></i> Back</a>
              </div>
            </div>

            <div class="page-content">
            <div class="content-block-title">Plant Nutrition and Transpiration</div>
               <div class="list-block media-list">
  <ul>

    <li><a href="pages/module_one/unit_one.html" class="item-link item-content close-panel">
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">Unit One</div>
                        </div>
                        <div class="item-text">Plant Nutrition and Transpiration</div>
                      </div></a></li>

    <li><a href="pages/module_one/unit_two.html" class="item-link item-content close-panel">
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">Unit Two</div>
                        </div>
                        <div class="item-text">Transpiration in Plants</div>
                      </div></a></li>


    
  </ul>
</div>
            </div>
 
</div>