

<div class="page" data-page="one">
 
            <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
            <div class="toolbar">
              <div class="toolbar-inner">
                <!-- Toolbar links -->
                <a href="#" class="link open-panel" data-panel="left"><i class="ion-navicon" style="font-size: 30px; margin-right: 10px;"></i> Modules</a>
                <a href="#" class="link back"> <i class="ion-ios-arrow-back" style="font-size: 30px; margin-right: 10px;"></i> Back</a>
              </div>
            </div>

            <div class="page-content">
            <div class="content-block">
            <div class="content-block-title">Behavioural Objectives:</div>
        <p>At the end of this lesson, students should be able to:</p>

1.  Demonstrate that chlorophyll, is necessity for photosynthesis<br>
2.  Demonstrate that light is  necessity for photosynthesis <br>
3.  Demonstrate that CO2is  necessity for photosynthesis<br> 
4.  Demonstrate that water is  necessity for photosynthesis <br><br>

    </div>
               <div class="list-block media-list">
  <ul>

 
    <li><a href="pages/module_one/unit_one/lesson_two_a.html" class="item-link item-content close-panel">
    <div class="item-media"><i class="ion-ios-flask" style="font-size: 30px;"></i></div>
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">Lesson Two A</div>
                        </div>
                        <div class="item-text">Experiment to demonstrate that chlorophyll is necessary for photosynthesis</div>
                      </div></a></li>

                       <li><a href="pages/module_one/unit_one/lesson_two_b.html" class="item-link item-content close-panel">
                       <div class="item-media"><i class="ion-ios-flask" style="font-size: 30px;"></i></div>
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">Lesson Two B</div>
                        </div>
                        <div class="item-text">Experiment to demonstrate that light is necessary for photosynthesis </div>
                      </div></a></li>

                       <li><a href="pages/module_one/unit_one/lesson_two_c.html" class="item-link item-content close-panel">
                       <div class="item-media"><i class="ion-ios-flask" style="font-size: 30px;"></i></div>
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">Lesson Two C</div>
                        </div>
                        <div class="item-text">Demonstration to show that co<sub>2</sub> is necessary for photosynthesis</div>
                      </div></a></li>

                       <li><a href="pages/module_one/unit_one/lesson_two_d.html" class="item-link item-content close-panel">
                       <div class="item-media"><i class="ion-ios-flask" style="font-size: 30px;"></i></div>
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">Lesson Two D</div>
                        </div>
                        <div class="item-text">Experiment to show that water is necessary for photosynthesis </div>
                      </div></a></li>


    
  </ul>
</div>
            </div>
 
</div>