

<div class="page" data-page="one">
 
            <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
            <div class="toolbar">
              <div class="toolbar-inner">
                <!-- Toolbar links -->
                <a href="#" class="link open-panel" data-panel="left"><i class="ion-navicon" style="font-size: 30px; margin-right: 10px;"></i> Modules</a>
                <a href="#" class="link back"> <i class="ion-ios-arrow-back" style="font-size: 30px; margin-right: 10px;"></i> Back</a>
              </div>
            </div>

            <div class="page-content">
            <div class="content-block">
<div class="content-block-title">Procedure:</div>
<p align="center"><strong>Test I</strong></p>
<p>Step 1: Take a potted plant and get it well-watered. </p>
<p>Step 2: Keep the potted plant in a dark cupboard for at least 24 hours so as to de-starch the leaves. </p>
<p>Step 3: Take a leaf sample and test for starch (as explained). </p>
<p><strong>Observation:</strong> The negative result (yellowish) leaf shows the absence of starch confirming that the leaves of the potted plant have been de-starched.</p>
<p align="center"><strong>Test II</strong></p>
<p>Step 4: A leaf of the de-starched potted plant is enclosed in a conical flask containing alkaline pyrogallol solution. This solution absorbs water, thus removing any trace of water inside the flask. This is the experiment. The other leaves of the potted plant serve as control.</p>
<p>Step 5: The potted plant and the entire set-up is then taken outside and kept under bright sunlight for 4-6 hrs.</p>
<p>Step 6: The experimental leaf in the flask is then detached from the plant and tested for starch (i.e. explained above). The leaf turns yellowish-brown (-ve result). Similarly one of the leaves of the potted plant is plucked and tested for starch. The control leaf turn blue-black (+ve result) showing presence of starch, indicating that photosynthesis has taken place. </p>
<p><strong>Observation:</strong> The leaf turns yellowish brown (negative result)</p>
<p align="center"><strong>Test III</strong></p>
<p>Step 7: Pluck one of the leaves from the pottedplant and test for starch.</p>
<p><strong>Observation:</strong> The control leaf turns blue-black</p>
<p><strong>Inference:</strong> water is necessary for photosynthesis</p>
<iframe style="width: 100%;" height="270" src="https://www.youtube.com/embed/wiKBN1bC-5o" frameborder="0" allowfullscreen></iframe>
    </div>
     
            </div>
 
</div>