

<div class="page" data-page="one">
 
            <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
            <div class="toolbar">
              <div class="toolbar-inner">
                <!-- Toolbar links -->
                <a href="#" class="link open-panel" data-panel="left"><i class="ion-navicon" style="font-size: 30px; margin-right: 10px;"></i> Modules</a>
                <a href="#" class="link back"> <i class="ion-ios-arrow-back" style="font-size: 30px; margin-right: 10px;"></i> Back</a>
              </div>
            </div>

            <div class="page-content">
            <div class="content-block">
<div class="content-block-title">Procedure:</div>
<p>Step 1: Place a  water plant (Elodea) in a beaker of water.</p>
<p>Step 2: Cover it with a funnel and inverse a test tube on the funnel.</p>
<p>Step 3: Place the set-up in a bright sunlight. Observation: Little bubbles of gas appears on the surface of leaves, and are collected in the test-tube. This gas rekindles a glowing splint. </p>
<p><strong>Inference:</strong> Oxygen (O<sub>2</sub>) is a product of photosynthesis.
</p>
<iframe style="width: 100%;" height="270" src="https://www.youtube.com/embed/Dosnjobk5oU" frameborder="0" allowfullscreen></iframe>
    </div>
     
            </div>
 
</div>