

<div class="page" data-page="one">
 
            <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
            <div class="toolbar">
              <div class="toolbar-inner">
                <!-- Toolbar links -->
                <a href="#" class="link open-panel" data-panel="left"><i class="ion-navicon" style="font-size: 30px; margin-right: 10px;"></i> Modules</a>
                <a href="#" class="link back"> <i class="ion-ios-arrow-back" style="font-size: 30px; margin-right: 10px;"></i> Back</a>
              </div>
            </div>

            <div class="page-content">
            <div class="content-block">
<div class="content-block-title">Procedure:</div>
<p>Step 1: Take a leaf, enclose within glass flask, supported at an angle by stand and clamps (using a split cork) containing caustic soda, (sodium hydroxide) solution.  This solution absorbs CO2. </p>
<p>Step 2: Smear with vaseline at the neck so that it is air-tight. The experiment is set up early in the morning and exposed to bright sunlight for 4-6hours. </p>
<p>Step 3: Detached and test for starch (as explained above).
</p>
<p><strong>Observation:</strong> Starch will be found to be absent at the same time as another leaf which is exposed (control) of the same plant is plucked and tested for starch, starch is found to be present in the second leaf.</p>
<p><strong>Inference:</strong> CO2 is required during photosynthesis 
</p>
<iframe style="width: 100%;" height="270" src="https://www.youtube.com/embed/cLclBxVPlpc" frameborder="0" allowfullscreen></iframe>
    </div>
     
            </div>
 
</div>