

<div class="page" data-page="one">
 
            <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
            <div class="toolbar">
              <div class="toolbar-inner">
                <!-- Toolbar links -->
                <a href="#" class="link open-panel" data-panel="left"><i class="ion-navicon" style="font-size: 30px; margin-right: 10px;"></i> Modules</a>
                <a href="#" class="link back"> <i class="ion-ios-arrow-back" style="font-size: 30px; margin-right: 10px;"></i> Back</a>
              </div>
            </div>

            <div class="page-content">
            <div class="content-block">
<div class="content-block-title">Procedure:</div>
<p>Step 1: Take a potted plant and keep it in a dark place for two to three days so that the leaves get de-starched.</p>
<p><strong>Note:</strong> This experiment is performed with a fresh leaf which is still attached to the parent plant. In this way, the leaf received a continuous supply of water and mineral salts. Both surface of the leaf are covered with strip of black with a pattern cut on it.</p>
<p>Step 2: Cover a part of one of the leaves with a strip of black paper make sure that you cover both side of the leaf.</p>
<p>Step 3: Now place the plant in sunlight for few (hours (3-4) hours).</p>
<div class="content-block-title">Repeat test for starch</div>
<p>Step 4: Pluck the selected covered leaf and remove the black paper covering it.</p>
<p>Step 5: Place this leaf in a beaker containing water and boil for (2-5) minutes.</p>
<p>Step 6: Take out the leaf and boil it in alcohol using water bath for 2-5 minutes, this removes the chlorophyll</p>
<p>Step 7: Take out the leaf and wash under running tap.</p>
<p>Step 8: Place the leaf in Petri dish on a white tile add few drops (2-3) of iodine to the leaf from the dropper bottle. Make sure that the leaf is completely covered with iodine.</p>
<p><strong>Observation:</strong> the leaf turns blue-black except in the covered region that did not receive light, photosynthesis did not occur. Hence no starch was formed there. The uncovered part received light and starch was found there, due to photosynthesis.</p>
<p><strong>Inference:</strong> Light is essential for photosynthesis. 
</p>
<iframe style="width: 100%;" height="270" src="https://www.youtube.com/embed/GDrES20dfqw" frameborder="0" allowfullscreen></iframe>
    </div>
     
            </div>
 
</div>