

<div class="page" data-page="one">
 
            <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
            <div class="toolbar">
              <div class="toolbar-inner">
                <!-- Toolbar links -->
                <a href="#" class="link open-panel" data-panel="left"><i class="ion-navicon" style="font-size: 30px; margin-right: 10px;"></i> Modules</a>
                <a href="#" class="link back"> <i class="ion-ios-arrow-back" style="font-size: 30px; margin-right: 10px;"></i> Back</a>
              </div>
            </div>

            <div class="page-content">
            <div class="content-block">
            <div class="content-block-title">Safety/Precaution:</div>
        <p>
Iodine solution, hot liquids require safety precautions to be taken. Wear eye protector.
</p>
<div class="content-block-title">Procedure:</div>
<p>Step 1: Take a Variegated leaf (from Coleus, Croton or Acalypha plant) that has been exposed to sunlight for a few hours.</p>
<p>Step 2: Draw the diagram to show the distribution of the green colour of the leaf.</p>
<p>Step 3: using forcepts, place the leaf in boiling water for few minutes to kill it. </p>
<p><strong>Note:</strong> This procedure kills the leaf, disrupt the cell membrane and soften the cuticle and cell walls. This makes it possible to extract the chlorophyll with hot ethanol and also allows the iodine to penetrate the cells and react with any starch present. </p>
<p>Step 4: Using forcepts remove the leaf from the boiling water and note the change.</p>
<p>Step 5: Decolorize the leaf by placing it in hot alcohol (use a water bath)</p>
<p>Step 6: Dip decolorized leaf in hot water to soften it.</p>
<p>Step 7: Take out the leaf and wash under running tap</p>
<p>Step 8: Place the leaf in Petri-dish on a white tile add few drops (2-3) of iodine to the leaf from the dropper bottle. Make sure that the leaf is completely covered with iodine.</p>
<p><strong>Observation:</strong> The leaf shows blue-black colouration.</p>
<p><strong>Inference:</strong> Starch is confirmed present. 
</p>
<iframe style="width: 100%;" height="270" src="https://www.youtube.com/embed/-EAtB3onSHs" frameborder="0" allowfullscreen></iframe>
    </div>
     
            </div>
 
</div>