

<div class="page" data-page="one">
 
            <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
            <div class="toolbar">
              <div class="toolbar-inner">
                <!-- Toolbar links -->
                <a href="#" class="link open-panel" data-panel="left"><i class="ion-navicon" style="font-size: 30px; margin-right: 10px;"></i> Modules</a>
                <a href="#" class="link back"> <i class="ion-ios-arrow-back" style="font-size: 30px; margin-right: 10px;"></i> Back</a>
              </div>
            </div>

            <div class="page-content">
            <div class="content-block-title"><center>Lesson One: General Introduction to <br>concepts of nutrition and photosynthesis</center></div>
  
    <div class="content-block tablet-inset">
      <div class="content-block-inner">
        <p>Nutrition is the series of process by which living organisms obtain food substances and use them to provide energy and materials for their growth, activities and reproduction.</p>
<p>It is therefore a basic characteristic of life.</p>
<p>Food is a complex energy-rich organic matter, which living organism feed on to obtain substances necessary for life. Plants are the earth’s most important food producers; their type of feeding is called autotrophic nutrition.</p>
<p>It always involves the synthesis of organic compounds from inorganic raw materials and it is sometimes called holophytic nutrition.</p>
<p>Plants manufacture their own food through the process of photosynthesis. Photosynthesis is the chemical process through which plant some bacteria and algae produce glucose and oxygen from carbon dioxide and water using only light as source of energy. 
</p>
<p>
  Reaction:</p>
  <p align="center">            
 <img src="img/f1.jpeg" style="width: 100%;" alt="Photosynthesis Reaction">
</p>
<p>
The word equation of photosynthesis is carbon dioxide + water  =   Oxygen + glucose.</p>
<p>In plant leaf, excess glucose is rapidly converted to starch. Therefore leaves can be tested to show that photosynthesis has occurred rather than testing for glucose.
</p>
<div class="content-block-title">Equipment and materials </div>
<iframe height="270" src="https://www.youtube.com/embed/ncTuKFezhw0" frameborder="0" allowfullscreen style="width: 100%"></iframe>
<br>
1. Tripod stand <br>
2. Bunsen burner<br>
3. Beaker of (250cm3 of boiling water)<br>
4. Iodine solution<br>
5. Alcohol<br>
6. Green leaf (exposed to sunlight for few hours)<br>
7. Test-tubes<br>
8. Distilled water<br>
9. Caustic soda solution<br>
10. Conical flask<br>
11. Retort stand<br>
12. Strip of black paper <br>
13. Variegated leaf<br>
14. Filter funnel <br>
15. Split cork<br>
16. Dark cupboard<br>
17. A potted plant<br>
18. Pyrogallol solution <br>
19. Vaseline<br>
20. Glowing splinter <br>
21. Forceps<br>
22. Eye protector<br>
23. Tile

      </div>
    </div>
            </div>
 
</div>